EMS_Dataplatform-main/node-red-data/.flows.json.backup
[
    {
        "id": "e446fb4ecf531d48",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5faf9a75b3a45588",
        "type": "modbus-client",
        "name": "modbus-sim",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "modbus-sim",
        "tcpPort": "1502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 2000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 5000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "17a6c5a9c18f3664",
        "type": "mqtt-broker",
        "name": "mqtt-broker",
        "broker": "mqtt-broker",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b1fa5577ea7ae935",
        "type": "modbus-read",
        "z": "e446fb4ecf531d48",
        "name": "Modbus Read",
        "topic": "ems/meters/1",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "7",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "5faf9a75b3a45588",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "bfbf4cbec8e33f4f"
            ],
            [
                "45d8efe576968818"
            ]
        ]
    },
    {
        "id": "45d8efe576968818",
        "type": "function",
        "z": "e446fb4ecf531d48",
        "name": "function 1",
        "func": "const unitId = msg.payload.unitid || msg.unitid || 1;\nconst raw = msg.payload.data || msg.payload;\n\nmsg.topic = `ems/meter/${unitId}`;\nmsg.payload = {\n    device_id:    `PM-00${unitId}`,\n    device_name:  `Power Meter ${unitId}`,\n    timestamp:    new Date().toISOString(),\n    measurements: {\n        frequency_Hz:      raw[0] / 100,\n        voltage_V:         raw[1] / 10,\n        current_A:         raw[2] / 10,\n        power_factor:      raw[3] / 100,\n        thd_voltage_pct:   raw[4] / 10,\n        thd_current_pct:   raw[5] / 10,\n        active_energy_kWh: raw[6]\n    }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "ad3a94292d0b38ae"
            ]
        ]
    },
    {
        "id": "6d32e3e5443e3487",
        "type": "mqtt out",
        "z": "e446fb4ecf531d48",
        "name": "",
        "topic": "ems/meters/1",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "17a6c5a9c18f3664",
        "x": 740,
        "y": 480,
        "wires": []
    },
    {
        "id": "bfbf4cbec8e33f4f",
        "type": "debug",
        "z": "e446fb4ecf531d48",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "ad3a94292d0b38ae",
        "type": "function",
        "z": "e446fb4ecf531d48",
        "name": "Normalize + Serialize",
        "func": "const avroLib = global.get('avsc');  // ← renamed to avroLib\n\nif (!avroLib) {\n    node.error(\"avsc not loaded\");\n    return null;\n}\n\n// Hardcode schema ID — most reliable approach\n// Run: curl http://localhost:8081/subjects/ems-telemetry-value/versions/latest\n// and replace 1 with your actual ID\nconst schemaId = 1;\n\nconst schema = avroLib.Type.forSchema({\n    type: 'record',\n    name: 'EmsTelemetry',\n    namespace: 'com.ems.avro',\n    fields: [\n        { name: 'device_id', type: 'string' },\n        { name: 'device_name', type: 'string' },\n        { name: 'timestamp', type: 'string' },\n        { name: 'frequency_Hz', type: 'double' },\n        { name: 'voltage_V', type: 'double' },\n        { name: 'current_A', type: 'double' },\n        { name: 'power_factor', type: 'double' },\n        { name: 'thd_voltage_pct', type: 'double' },\n        { name: 'thd_current_pct', type: 'double' },\n        { name: 'active_energy_kWh', type: 'double' }\n    ]\n});\n\nconst raw = msg.payload;\n\nconst record = {\n    device_id: raw.device_id,\n    device_name: raw.device_name,\n    timestamp: raw.timestamp,\n    frequency_Hz: raw.measurements.frequency_Hz || 0,\n    voltage_V: raw.measurements.voltage_V || 0,\n    current_A: raw.measurements.current_A || 0,\n    power_factor: raw.measurements.power_factor || 0,\n    thd_voltage_pct: raw.measurements.thd_voltage_pct || 0,\n    thd_current_pct: raw.measurements.thd_current_pct || 0,\n    active_energy_kWh: raw.measurements.active_energy_kWh || 0\n};\n\nif (record.voltage_V === 0) {\n    node.warn(\"Zero voltage from \" + record.device_id + \" — dropping\");\n    return null;\n}\n\ntry {\n    const avroBytes = schema.toBuffer(record);\n    const wire = Buffer.alloc(5 + avroBytes.length);\n    wire.writeUInt8(0x00, 0);\n    wire.writeUInt32BE(schemaId, 1);\n    avroBytes.copy(wire, 5);\n    msg.payload = wire;\n    return msg;\n} catch (err) {\n    node.error(\"Avro serialization failed: \" + err.message, msg);\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "avsc",
                "module": "avsc"
            }
        ],
        "x": 510,
        "y": 360,
        "wires": [
            [
                "6d32e3e5443e3487"
            ]
        ]
    }
]