EMS_Dataplatform-main/node-red-data/flows.json
[
    {
        "id": "e446fb4ecf531d48",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5faf9a75b3a45588",
        "type": "modbus-client",
        "name": "modbus-sim",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "modbus-sim",
        "tcpPort": "1502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 2000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 5000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "17a6c5a9c18f3664",
        "type": "mqtt-broker",
        "name": "mqtt-broker",
        "broker": "mqtt-broker",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b1fa5577ea7ae935",
        "type": "modbus-read",
        "z": "e446fb4ecf531d48",
        "name": "Modbus Read",
        "topic": "ems/meters/1",
        "showStatusActivities": true,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "5",
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "5faf9a75b3a45588",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "bfbf4cbec8e33f4f"
            ],
            [
                "45d8efe576968818"
            ]
        ]
    },
    {
        "id": "45d8efe576968818",
        "type": "function",
        "z": "e446fb4ecf531d48",
        "name": "function 1",
        "func": "const unitId = msg.payload.unitid || msg.unitid || 1;\nconst raw = msg.payload.data || msg.payload;\n\nmsg.topic = `ems/meter/${unitId}`;\nmsg.payload = JSON.stringify({\n    meter_id:  unitId,\n    kw:        raw[0] / 10,\n    kvar:      raw[1] / 10,\n    voltage:   raw[2] / 10,\n    current:   raw[3] / 10,\n    kwh:       raw[4] / 10,\n    timestamp: new Date().toISOString()\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "6d32e3e5443e3487"
            ]
        ]
    },
    {
        "id": "6d32e3e5443e3487",
        "type": "mqtt out",
        "z": "e446fb4ecf531d48",
        "name": "",
        "topic": "ems/meters/1",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "17a6c5a9c18f3664",
        "x": 440,
        "y": 380,
        "wires": []
    },
    {
        "id": "bfbf4cbec8e33f4f",
        "type": "debug",
        "z": "e446fb4ecf531d48",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 80,
        "wires": []
    }
]