EMS_Dataplatform-main/nodered-flows/flows.json
[
    {
        "id": "e446fb4ecf531d48",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2df8556898961c93",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e2a27515f926257",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "72567e546c20b176",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "05a6e75d87643478",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd08c9434296d986",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ba969e4cf9f4979e",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "27884b80750b300e",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b8f9ea095dd624b0",
        "type": "mqtt-broker",
        "name": "emqx",
        "broker": "emqx",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5faf9a75b3a45588",
        "type": "modbus-client",
        "name": "modbus-sim",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "modbus-sim",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "mqtt-broker-1",
        "type": "mqtt-broker",
        "name": "emqx",
        "broker": "emqx",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b1fa5577ea7ae935",
        "type": "modbus-read",
        "z": "e446fb4ecf531d48",
        "name": "Modbus Read",
        "topic": "ems/meters/1",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Input",
        "adr": "0",
        "quantity": "5",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "5faf9a75b3a45588",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 100,
        "wires": [
            [],
            [
                "45d8efe576968818"
            ]
        ]
    },
    {
        "id": "45d8efe576968818",
        "type": "function",
        "z": "e446fb4ecf531d48",
        "name": "function 1",
        "func": "const [kw, kvar, voltage, current, kwh] = msg.payload.data;\nmsg.payload = {\n    meter_id: 1,\n    timestamp: new Date().toISOString(),\n    kw:      kw      / 10,\n    kvar:    kvar    / 10,\n    voltage: voltage / 10,\n    current: current / 10,\n    kwh:     kwh     / 10\n};\nmsg.topic = \"ems/meters/1\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "6d32e3e5443e3487"
            ]
        ]
    },
    {
        "id": "6d32e3e5443e3487",
        "type": "mqtt out",
        "z": "e446fb4ecf531d48",
        "name": "",
        "topic": "ems/meters/1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8f9ea095dd624b0",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "5b94e850a0a98fc2",
        "type": "function",
        "z": "2df8556898961c93",
        "name": "function 2",
        "func": "const [kw, kvar, voltage, current, kwh] = msg.payload.data;\nmsg.payload = {\n    meter_id: 2,\n    timestamp: new Date().toISOString(),\n    kw:      kw      / 10,\n    kvar:    kvar    / 10,\n    voltage: voltage / 10,\n    current: current / 10,\n    kwh:     kwh     / 10\n};\nmsg.topic = \"ems/meters/1\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "4752c0c10890a0e9",
        "type": "mqtt out",
        "z": "2df8556898961c93",
        "name": "",
        "topic": "ems/meters/1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8f9ea095dd624b0",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "1a238f779e5a58bf",
        "type": "modbus-read",
        "z": "2df8556898961c93",
        "name": "Modbus Read",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "2",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "5",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "5faf9a75b3a45588",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ec6a3143e775a22f",
        "type": "function",
        "z": "2e2a27515f926257",
        "name": "function 3",
        "func": "const [kw, kvar, voltage, current, kwh] = msg.payload.data;\nmsg.payload = {\n    meter_id: 3,\n    timestamp: new Date().toISOString(),\n    kw:      kw      / 10,\n    kvar:    kvar    / 10,\n    voltage: voltage / 10,\n    current: current / 10,\n    kwh:     kwh     / 10\n};\nmsg.topic = \"ems/meters/1\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9c28097367997a8f",
        "type": "mqtt out",
        "z": "2e2a27515f926257",
        "name": "",
        "topic": "ems/meters/1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8f9ea095dd624b0",
        "x": 280,
        "y": 200,
        "wires": []
    },
    {
        "id": "3c63685eadc0498b",
        "type": "modbus-read",
        "z": "2e2a27515f926257",
        "name": "Modbus Read",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "3",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "5",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "5faf9a75b3a45588",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 110,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "366a0543bf5c5eb8",
        "type": "function",
        "z": "72567e546c20b176",
        "name": "function 4",
        "func": "const [kw, kvar, voltage, current, kwh] = msg.payload.data;\nmsg.payload = {\n    meter_id: 4,\n    timestamp: new Date().toISOString(),\n    kw:      kw      / 10,\n    kvar:    kvar    / 10,\n    voltage: voltage / 10,\n    current: current / 10,\n    kwh:     kwh     / 10\n};\nmsg.topic = \"ems/meters/1\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "40b430bef5d09cbf",
        "type": "mqtt out",
        "z": "72567e546c20b176",
        "name": "",
        "topic": "ems/meters/1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8f9ea095dd624b0",
        "x": 380,
        "y": 260,
        "wires": []
    },
    {
        "id": "b986b5851c42bbbf",
        "type": "modbus-read",
        "z": "72567e546c20b176",
        "name": "Modbus Read",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "4",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "5",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "5faf9a75b3a45588",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "76645d25b9ebf5ee",
        "type": "function",
        "z": "05a6e75d87643478",
        "name": "function 5",
        "func": "const [kw, kvar, voltage, current, kwh] = msg.payload.data;\nmsg.payload = {\n    meter_id: 5,\n    timestamp: new Date().toISOString(),\n    kw:      kw      / 10,\n    kvar:    kvar    / 10,\n    voltage: voltage / 10,\n    current: current / 10,\n    kwh:     kwh     / 10\n};\nmsg.topic = \"ems/meters/1\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a9ea53c38008857d",
        "type": "mqtt out",
        "z": "05a6e75d87643478",
        "name": "",
        "topic": "ems/meters/1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8f9ea095dd624b0",
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "01569e4756a6f89a",
        "type": "modbus-read",
        "z": "05a6e75d87643478",
        "name": "Modbus Read",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "5",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "5",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "5faf9a75b3a45588",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 250,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0bcc96f438bc07cf",
        "type": "function",
        "z": "cd08c9434296d986",
        "name": "function 6",
        "func": "const [kw, kvar, voltage, current, kwh] = msg.payload.data;\nmsg.payload = {\n    meter_id: 6,\n    timestamp: new Date().toISOString(),\n    kw:      kw      / 10,\n    kvar:    kvar    / 10,\n    voltage: voltage / 10,\n    current: current / 10,\n    kwh:     kwh     / 10\n};\nmsg.topic = \"ems/meters/1\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2376e9e9ed890315",
        "type": "mqtt out",
        "z": "cd08c9434296d986",
        "name": "",
        "topic": "ems/meters/1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8f9ea095dd624b0",
        "x": 320,
        "y": 360,
        "wires": []
    },
    {
        "id": "f222421092906012",
        "type": "modbus-read",
        "z": "cd08c9434296d986",
        "name": "Modbus Read",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "6",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "5",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "5faf9a75b3a45588",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7d4233844d933305",
        "type": "function",
        "z": "ba969e4cf9f4979e",
        "name": "function 7",
        "func": "const [kw, kvar, voltage, current, kwh] = msg.payload.data;\nmsg.payload = {\n    meter_id: 7,\n    timestamp: new Date().toISOString(),\n    kw:      kw      / 10,\n    kvar:    kvar    / 10,\n    voltage: voltage / 10,\n    current: current / 10,\n    kwh:     kwh     / 10\n};\nmsg.topic = \"ems/meters/1\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "fff0fbac2d411c40",
        "type": "mqtt out",
        "z": "ba969e4cf9f4979e",
        "name": "",
        "topic": "ems/meters/1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8f9ea095dd624b0",
        "x": 300,
        "y": 320,
        "wires": []
    },
    {
        "id": "0df3727484b25576",
        "type": "modbus-read",
        "z": "ba969e4cf9f4979e",
        "name": "Modbus Read",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "7",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "5",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "5faf9a75b3a45588",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 130,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e1672fd14d08342d",
        "type": "function",
        "z": "27884b80750b300e",
        "name": "function 8",
        "func": "const [kw, kvar, voltage, current, kwh] = msg.payload.data;\nmsg.payload = {\n    meter_id: 8,\n    timestamp: new Date().toISOString(),\n    kw:      kw      / 10,\n    kvar:    kvar    / 10,\n    voltage: voltage / 10,\n    current: current / 10,\n    kwh:     kwh     / 10\n};\nmsg.topic = \"ems/meters/1\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1d439d817c703b47",
        "type": "mqtt out",
        "z": "27884b80750b300e",
        "name": "",
        "topic": "ems/meters/1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b8f9ea095dd624b0",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "8881b4db263c3631",
        "type": "modbus-read",
        "z": "27884b80750b300e",
        "name": "Modbus Read",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "8",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "5",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "5faf9a75b3a45588",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 250,
        "y": 140,
        "wires": [
            [],
            []
        ]
    }
]