EMS-app/sld-nodered-flow.json
[
  {
    "id": "sld_live_tab",
    "type": "tab",
    "label": "SLD Live Bridge",
    "disabled": false,
    "info": "Pont SLD : lit les mesures réelles publiées sur MQTT par la simulation (Prosys → Node-RED → MQTT), agrège l'état électrique et l'envoie au SLD (ws://localhost:1880/ws/stiga). AUCUNE valeur inventée : tout vient des payloads réels. N'affecte pas les autres flux."
  },
  {
    "id": "sld_ws_listener",
    "type": "websocket-listener",
    "path": "/ws/stiga",
    "wholemsg": "false"
  },
  {
    "id": "sld_mqtt_in",
    "type": "mqtt in",
    "z": "sld_live_tab",
    "name": "Toutes les mesures (#)",
    "topic": "#",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "sld_mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 120,
    "wires": [["sld_collect_fn"]]
  },
  {
    "id": "sld_collect_fn",
    "type": "function",
    "z": "sld_live_tab",
    "name": "Collecter par équipement",
    "func": "// Retient les DERNIÈRES mesures réelles de chaque équipement (payload MQTT).\nlet p = msg.payload;\nif (typeof p === 'string') { try { p = JSON.parse(p); } catch (e) { return null; } }\nif (!p || typeof p !== 'object') return null;\n\n// Aplatit le payload (measurements imbriqués inclus)\nconst flat = {};\n(function walk(o) {\n  for (const k in o) {\n    const v = o[k];\n    if (v && typeof v === 'object' && !Array.isArray(v)) walk(v);\n    else if (typeof v === 'number' || typeof v === 'boolean') flat[String(k).toLowerCase()] = v;\n    else if (typeof v === 'string' && v !== '' && !isNaN(parseFloat(v))) flat[String(k).toLowerCase()] = parseFloat(v);\n  }\n})(p);\n\nconst devRaw = String(\n  p.device_id || p.sub_equipment_id || p.equipment || p.equipment_name ||\n  p.device_name || (msg.topic || '').split('/').slice(-2).join('_') || ''\n).toLowerCase().replace(/[^a-z0-9]+/g, '_');\nif (!devRaw) return null;\n\nconst pick = (re) => { for (const k in flat) { if (re.test(k)) return flat[k]; } return undefined; };\n\nconst devices = flow.get('sld_devices') || {};\nconst d = devices[devRaw] || {};\nconst kw   = pick(/active_power|power_kw|^kw$/);\nconst vll  = pick(/voltage_l1l2|voltage_l2l3|voltage_l3l1|voltage_ll/);\nconst vln  = pick(/voltage_l1n|voltage_v1|v_l1n|^voltage$/);\nconst pf   = pick(/power_factor|^pf$/);\nconst hz   = pick(/frequency/);\nconst amp  = pick(/current_l1|current_i1|current_a|^current$/);\nconst kvar = pick(/reactive_power|kvar/);\nconst brk  = pick(/breaker/);\nif (kw   !== undefined) d.kw = kw;\nif (vll  !== undefined) d.vll = vll;\nif (vln  !== undefined) d.vln = vln;\nif (pf   !== undefined) d.pf = pf;\nif (hz   !== undefined) d.hz = hz;\nif (amp  !== undefined) d.a = amp;\nif (kvar !== undefined) d.kvar = kvar;\nif (brk  !== undefined) d.brk = (brk === true || brk === 1);\nd.ts = Date.now();\ndevices[devRaw] = d;\nflow.set('sld_devices', devices);\nreturn null;",
    "outputs": 0,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 120,
    "wires": []
  },
  {
    "id": "sld_tick",
    "type": "inject",
    "z": "sld_live_tab",
    "name": "toutes les 2 s",
    "props": [{ "p": "payload" }],
    "repeat": "2",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 240,
    "wires": [["sld_build_fn"]]
  },
  {
    "id": "sld_build_fn",
    "type": "function",
    "z": "sld_live_tab",
    "name": "Construire l'état SLD (réel)",
    "func": "// Construit le JSON attendu par sld.html (applyUpdate) UNIQUEMENT à partir\n// des mesures réelles collectées. Si rien n'est reçu → on n'envoie rien.\nconst devices = flow.get('sld_devices') || {};\nconst FRESH_MS = 30000;\nconst entries = Object.entries(devices).filter(([, d]) => Date.now() - d.ts < FRESH_MS);\nif (!entries.length) return null;\n\nconst find = (re) => { const e = entries.find(([k]) => re.test(k)); return e ? e[1] : null; };\n\n// Mapping équipements réels Al Youssoufia -> composants du SLD\nconst bw  = find(/extr.*bw|bucket/);            // Bucket Wheel Excavator\nconst cv1 = find(/extr.*cv|extr.*conveyor/);    // Conveyor C1 (Extraction)\nconst cv7 = find(/strg.*cv|cv7|conveyor.*out/); // Conveyor C1 Output (Storage)\nconst sp  = find(/flot.*sp|slurry/);            // Slurry Pump\nconst wpa = find(/wash.*(wpa|pump)/);           // Washing Pump A\nconst ac  = find(/util.*ac|compress/);          // Air Compressor\nconst ag  = find(/_ag\\d|_ag_|agitat/);          // Flotation Cell Agitator 1\n\nconst elec = entries.map(([, d]) => d).filter((d) => d.kw !== undefined);\nconst avg = (xs) => (xs.length ? xs.reduce((s, v) => s + v, 0) / xs.length : null);\nconst pfs = elec.map((d) => d.pf).filter((v) => v != null);\nconst hzs = entries.map(([, d]) => d.hz).filter((v) => v != null);\nconst totKw = elec.reduce((s, d) => s + (d.kw || 0), 0);\nconst totKvar = entries.reduce((s, [, d]) => s + (d.kvar || 0), 0);\n\n// Tension bus principal : phase-phase réelle si dispo, sinon L-N x racine(3)\nconst vlls = elec.map((d) => d.vll).filter((v) => v != null);\nconst vlns = elec.map((d) => d.vln).filter((v) => v != null);\nconst vmain = vlls.length ? avg(vlls) : vlns.length ? avg(vlns) * 1.7320508 : 400;\nconst freq = avg(hzs) != null ? avg(hzs) : 50;\nconst pf = avg(pfs) != null ? avg(pfs) : 0.9;\n\nconst ampOf = (d) => (d ? (d.a != null ? d.a : d.kw ? (d.kw * 1000) / (vmain * 1.7320508 * (d.pf || 0.9)) : 0) : 0);\nconst eqOf = (d) => (d ? {\n  on: (d.kw || 0) > 0.5 && d.brk !== false,\n  fault: d.brk === false,\n  voltage: +vmain.toFixed(1),\n  current: +ampOf(d).toFixed(1),\n  power_kw: +(d.kw || 0).toFixed(1),\n  power_factor: d.pf != null ? +d.pf.toFixed(3) : undefined,\n} : undefined);\n\n// Transformateurs : on ne pilote QUE ceux mappés à un vrai power meter\nconst transformers = {};\n[['tr-01', bw], ['tr-02', cv1], ['tr-03', cv7], ['tr-04', sp], ['tr-05', wpa], ['tr-06', ac], ['tr-07', ag]]\n  .forEach(([id, d]) => {\n    if (d && d.kw !== undefined) transformers[id] = {\n      current: +ampOf(d).toFixed(1),\n      on: d.brk !== false && (d.kw || 0) > 0.1,\n    };\n  });\n\nconst zoneKw = (ds) => ds.filter(Boolean).reduce((s, d) => s + (d.kw || 0), 0);\nconst pct = (kw, nom) => Math.max(2, Math.min(100, (kw / nom) * 100));\n\nmsg.payload = {\n  buses: { main: +vmain.toFixed(1), hv: +((vmain / 400) * 20).toFixed(2), freq: +freq.toFixed(2) },\n  power: { active: +totKw.toFixed(1), reactive: +totKvar.toFixed(1), pf: +pf.toFixed(3) },\n  loads: {\n    left:   +pct(zoneKw([bw, cv1]), 400).toFixed(0),   // Extraction\n    centre: +pct(zoneKw([sp, ag, wpa]), 300).toFixed(0), // Flotation + Washing\n    right:  +pct(zoneKw([ac, cv7]), 150).toFixed(0),   // Utilities + Storage\n    tie:    +pct(totKw, 900).toFixed(0),\n  },\n  transformers,\n  equipment: {\n    motor_m1:     eqOf(bw),\n    conveyor_cv1: eqOf(cv1),\n    conveyor_cv2: eqOf(cv7),\n    pump_p1:      eqOf(sp),\n    motor_m2:     eqOf(wpa),\n    feeder_f1:    eqOf(ac),\n    thermo_tp1:   eqOf(ag),\n    cap_bank_cap1: {\n      on: totKvar > 0 || totKw > 0,\n      fault: false,\n      kvar: +totKvar.toFixed(1),\n      voltage: +vmain.toFixed(1),\n      pf_correction: +pf.toFixed(2),\n    },\n  },\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 240,
    "wires": [["sld_ws_out"]]
  },
  {
    "id": "sld_ws_out",
    "type": "websocket out",
    "z": "sld_live_tab",
    "name": "SLD ws /ws/stiga",
    "server": "sld_ws_listener",
    "client": "",
    "x": 700,
    "y": 240,
    "wires": []
  },
  {
    "id": "sld_mqtt_broker",
    "type": "mqtt-broker",
    "name": "mqtt-broker (SLD)",
    "broker": "mqtt-broker",
    "port": "1883",
    "clientid": "nodered-sld-bridge",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]
